<h1>Default Categories</h1>
<%= link_to "New Default Category", new_cdefaults_path, :class => "btn btn-primary pull-right" %>
<table class="table table-striped">
	<thead>
		<tr>
			<th># Id</th>
			<th>Name</th>
			<th>Type</th>
			<th>Default</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<% @cdefaults.each do |cdefault| %>
	<tr class="<%= cdefault.type == "Icdefault" ? "success" : "danger" %>">
		<td><%= cdefault.id %></td>
		<td><%= cdefault.name %></td>
		<td><%= cdefault.type == "Icdefault" ? "Incomes" : "Expenses" %></td>
		<td><%= cdefault.default ? "yes" : "no" %></td>
		<td>
			<ul>
				<li><%= link_to "Edit", edit_cdefaults_path(:id => cdefault.id) %></li>
				<li><%= link_to "Delete", destroy_cdefaults_path(:id => cdefault.id), :method => "DELETE" %></li>
			</ul>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>

